<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.au565633_movies">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/popcornlauncher"
        android:label="au565633_Movies"
        android:roundIcon="@mipmap/popcornlauncher"
        android:resource="@drawable/dramaprettyicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.au565633_movies.EditActivity"></activity>
        <activity android:name="com.example.au565633_movies.DetailActivity" />
        <activity android:name="com.example.au565633_movies.OverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.au565633_movies.SyncService"></service>

        <meta-data
            android:name="http://www.omdbapi.com/?apikey=6d1d0b78"
            android:value="6d1d0b78"></meta-data>
    </application>

</manifest>